

.section-main {
    width: 100%;
    margin: auto;
    background-color: #ebebeb;
    padding-top: 0px;
}

.section-main article {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: none;
    transition: box-shadow 0,5s;
    
}

.section-main article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100,100);
}

.section-main article img {
    display: block;
    width: 90%;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
  

.article-div {
    background-color: white;
    border-top: solid 1px #ebebeb;
    width: 90%;
    padding: 15px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    

}

.precio {
    font-size: 18px;
    padding: 0%;
    margin: 0px;
    width: 30%;
}

.descuento {
    font-size: 16px;
    padding: 0%;
    margin: 0px;
    color: #39b54a;
    width: 70%;
}

.descripcion {
    font-size: 16px;
    padding: 0%;
    margin-top: 10px;
    display: none;
    /* visibility: hidden; */

    
}

.fas.fa-truck {
    
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 5px;
    border-radius: 50px 50px 50px 50px;

    display: block;
    position: absolute;
    right: 20px;
    top:-15px;

    /* display: block;
    font-size: 16px;
    padding: 5px;
    width: 30​px;
    height: 30px;
    border: 1px solid​​#39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-15px; */
}

li {
    padding: 5px;
    text-decoration: none;
}




@media (min-width: 361px) {
    /* .header-div {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    } */

    /* .header-div {
        
        flex-wrap: nowrap;
        
    } */

    #logo {
        width: 30%;     
    }

    .barra-busqueda {
        width: 30%;
        
    }
    
    .site {
        display: flex;
        justify-content: space-around;
    }
    
    .login {
        display: flex;
        justify-content: space-around;
    }
    .burger-menu {
        display: none;
    }
    
    .section-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;    
    }

    .section-main article {
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        width: 42vw;
        /* width: 22%; */
    }

    .section-main article:hover .descripcion {
         
            display: inline;
            /* visibility: visible; */
        
    }
    
    section h1 {
        /* display: block; */
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .section-main article {
        
        width: 20vw;
    }
}








