<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
     
</head>


<body>
    <header>
        <div class="header-div">

            <img src="/images/logo-mercado-liebre.svg" alt="Logo" id="logo">

            <div class="barra-busqueda">
                <i class="fas fa-search" id="lupa"></i>
                <input type="text" name="barra-de-busqueda" id="barra-busqueda">
            </div>

            <h4><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>

        </div>
        <nav>
            <ul type="none" class="site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul type="none" class="login">
                <li><a href="/register">Creá tu cuenta</a><i class="fas fa-user"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars" id="burger"></i>
        </div>
        <img src="\images\img-home-banner.jpg" class="banner">
    </header>




    <section class="section-main">
        <h1 class="titulo-seccion">Basado en tu última visita</h1>
        <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            <div class="article-div">
                <i class="fas fa-truck"></i>
                <div class="precio">$6.770</div>
                <div class="descuento">40% OFF</div>
                <div class="descripcion">Cafetera Moulinex</div>
            </div>
        </article>
        <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
            <div class="article-div">
                <i class="fas fa-truck"></i>   
                <div class="precio">$230.000</div>
                <div class="descuento">20% off</div>
                <div class="descripcion">MacBook Pro 2019</div>
            </div>     
        </article>
        <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy">
            <div class="article-div">
                <i class="fas fa-truck"></i>    
                <div class="precio">$70.500</div>
                <div class="descuento">10% off</div>
                <div class="descripcion">Samsung Galaxy S10</div>
            </div>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv">
            <div class="article-div">
                <i class="fas fa-truck"></i>
                <div class="precio">$23.200</div>
                <div class="descuento">5% off</div>
                <div class="descripcion">SmartTv Samsung 43"</div>
            </div>    
        </article>
    </section>
        
    <section class="section-main">
        <h1 class="titulo-seccion">Sección de Ofertas</h1>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            <div class="article-div">
                <i class="fas fa-truck"></i> 
                <div class="precio">$6.770</div>
                <div class="descuento">40% OFF</div>
                <div class="descripcion">Cafetera Moulinex</div>
            </div>    
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
            <div class="article-div">
                <i class="fas fa-truck"></i>    
                <div class="precio">$230.000</div>
                <div class="descuento">20% off</div>
                <div class="descripcion">MacBook Pro 2019</div>
            </div>    
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy">
            <div class="article-div">
                <i class="fas fa-truck"></i>
                <div class="precio">$70.500</div>
                <div class="descuento">10% off</div>
                <div class="descripcion">Samsung Galaxy S10</div>
            </div>    
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv">
            <div class="article-div">
                <i class="fas fa-truck"></i>
                <div class="precio">$23.200</div>
                <div class="descuento">5% off</div>
                <div class="descripcion">SmartTv Samsung 43"</div>
            </div>    
        </article>
    </section>

    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h1>Pagá con tarjeta o en efectivo</h1>
            <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</h4>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h1>Envío gratis desde $ 2.500</h1>
            <h4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</h4>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h1>Seguridad, de principio a fin</h1>
            <h4>¿ No te gusta ? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</h4>
        </section>
        <section>
            <h1 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
        </section>

    </footer>
    
</body>
</html>